// partials
@use "./_partials/normalisation";
@use "./_partials/helpers";
@use "./_partials/brand-variables" as bv;
@use "./_partials/queries" as q;

// elements
@use "./_elements/translator.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @extend %flex-column-center-center;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: bv.$primary-color;
  width: 100%;
  max-height: max-content;
  @extend %flex-column-center-center;
  padding-bottom: 1em;
  color: bv.$light-color;

  h1 {
    @include bv.font--primary(900);
  }
}

main {
  width: 100%;
  flex: 1;
  @extend %flex-column-center-center;
}
