// partials
@use "../_partials/brand-variables" as bv;
@use "../_partials/helpers";
@use "../_partials/queries";

// components
@use "../_components/btn.scss";

.translator {
  background-color: bv.$secondary-color;
  @include bv.font--secondary(400);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // aligns main (eg vertical)
  align-items: center; // aligns cross (eg horiztonal;)
  padding: 1em;
  row-gap: 1em;

  &__btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; // aligns main (eg horiztonal)
    align-items: center; // aligns cross (eg vertical;)
    column-gap: 1em;
    row-gap: 0.5em;

    & button {
      @extend %btn;
      width: 9em;
      height: 3em;
    }
  }

  &__textContainer {
    width: 100%;
    @extend %flex-column-center-center;
    row-gap: 1em;

    & textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid bv.$light-color;
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.5;
      color: bv.$dark-color;
      transition: border-color 0.3s ease;

      // when the user is interacting with it
      &:focus {
        border-color: bv.$primary-color;
        outline: none;
      }

      &::placeholder {
        text-align: center;
        color: #999; // Change the placeholder text color
      }
    }

    & .decodedtext {
      width: 100%;
      min-height: 10em;
      padding: 1em;
      flex: 1;
      background-color: bv.$light-color;
    }
  }

  @include queries.tablet {
    padding: 3em;
    row-gap: 1em;

    &__btnContainer {
      margin-top: 3em;
      column-gap: 3em;
    }
  }

  @include queries.laptop {
    padding: 3em;
    row-gap: 1em;

    &__btnContainer {
      margin-top: 3em;
      column-gap: 8em;
    }
  }

  @include queries.desktop {
    padding: 5em;
    row-gap: 1em;

    &__btnContainer {
      margin-top: 3em;
      column-gap: 10em;
    }
  }
}
