// partials
@use "../_partials/brand-variables" as bv;
@use "../_partials/helpers";
@use "../_partials/queries" as q;

// components
@use "../_components/btn.scss";

.translator {
  background-color: bv.$secondary-color;
  @include bv.font--secondary(400);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // aligns main (eg vertical)
  align-items: center; // aligns cross (eg horiztonal;)
  padding: 1em;
  row-gap: 4em;

  &__btnContainer {
    display: flex;
    justify-content: space-evenly; // aligns main (eg horiztonal)
    align-items: center; // aligns cross (eg vertical;)
    column-gap: 1em;
    margin-top: 2em;

    & button {
      @extend %btn;
      width: 9em;
      height: 3em;
    }

    // & .material-symbols-outlined {
    //   font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    // }
  }

  &__english,
  &__morse {
    width: 100%;
    @extend %flex-column-center-center;
    row-gap: 1em;

    & textarea {
      width: 80%;
      padding: 10px;
      border: 1px solid bv.$light-color; // Add a border
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.5;
      color: bv.$dark-color;
      transition: border-color 0.3s ease;

      // when the user is interacting with it
      &:focus {
        border-color: bv.$primary-color;
        outline: none;
      }

      &::placeholder {
        text-align: center;
        color: #999; // Change the placeholder text color
      }
    }

    & .decodedtext {
      width: 80%;
      min-height: 10em;
      padding: 1em;
      flex: 1;
      background-color: white;
      text-align: center;
    }
  }

  @include q.tablet {
    &__btnContainer {
      column-gap: 2em;
    }
  }
  @include q.desktop {
    &__btnContainer {
      column-gap: 3em;
    }

    & textarea {
      width: 60%;
    }

    & .decodedtext {
      width: 60%;
    }
  }
}
